@using CrowdFunding.Models
@using CrowdFundingMVC.Models.ProjectController
@model DetailsViewModel
@inject SignInManager<User> signInManager
@inject UserManager<User> userManager

@{
    var posts = Model.Project.Posts.Count > 5 ? 5 : Model.Project.Posts.Count;
    Model.Project.Posts.Sort((x, y) => DateTime.Compare(y.DateTime, x.DateTime));
    var user = await userManager.GetUserAsync(User);
    var mediaCount = Model.Project.Photos.Count + Model.Project.Videos.Count;
}

@if (signInManager.IsSignedIn(User))
{
    if (Model.Project.ProjectCreator.Id == user.Id)
    {



    }
}





<div class="blog-single gray-bg">
    <div class="container">
        <div class="row align-items-start">
            <div class="col-lg-8 m-15px-tb">
                <article class="article">
                    @if (mediaCount > 0)
                    {
                                    <div id="demo" class="carousel slide" data-bs-ride="carousel">
                                        <!-- Indicators/dots -->
                        <div class="carousel-indicators">
                                @for (int i = 0; i < Model.Project.Photos.Count; i++)
                                {
                                    @if (i == 0)
                                    {
                                                                            <button type="button" data-bs-target="#demo" data-bs-slide-to="@i" class="active"></button>
                                    }
                                    else
                                    {
                                                                            <button type="button" data-bs-target="#demo" data-bs-slide-to="@i"></button>
                                    }
                                }

                                @for (int i = 0; i < Model.Project.Videos.Count; i++)
                                {
                                    @if (i == 0 && Model.Project.Photos.Count == 0)
                                    {
                                                                            <button type="button" data-bs-target="#demo" data-bs-slide-to="@(i + Model.Project.Photos.Count)" class="active"></button>
                                    }
                                    else
                                    {
                                                                            <button type="button" data-bs-target="#demo" data-bs-slide-to="@(i + Model.Project.Photos.Count)"></button>
                                    }
                                }

                                        </div>
                                        <div class="container">
                                            <div class="row row-content">
                                                <!-- The slideshow/carousel -->
                                <div class=" carousel-inner">
                                        @for (int i = 0; i < Model.Project.Photos.Count; i++)
                                        {
                                            @if (i == 0)
                                            {
                                                                                    <div class="carousel-item active">
                                                                                        <img src="@Model.Project.Photos[i].URI" alt="Chicago" class="d-block" style="width:100%">
                                                                                    </div>
                                            }
                                            else
                                            {
                                                                                    <div class="carousel-item">
                                                                                        <img src="@Model.Project.Photos[i].URI" alt="Chicago" class="d-block" style="width:100%">
                                                                                    </div>
                                            }
                                        }

                                        @for (int i = 0; i < Model.Project.Videos.Count; i++)
                                        {
                                            @if (i == 0 && Model.Project.Photos.Count == 0)
                                            {
                                                                                    <div class="carousel-item active">
                                                                                        <div class="container1">
                                                                                            <iframe class="responsive-iframe" src="@Model.Project.Videos[i].URL" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                                                                        </div>
                                                                                    </div>
                                            }
                                            else
                                            {
                                                                                    <div class="carousel-item">
                                                                                        <div class="container1">
                                                                                            <iframe class="responsive-iframe" src="@Model.Project.Videos[i].URL" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                                                                        </div>
                                                                                    </div>
                                            }
                                        }
                                                </div>

                                                <!-- Left and right controls/icons -->
                                <button class="carousel-control-prev" type="button" data-bs-target="#demo" data-bs-slide="prev">
                                                    <span class="carousel-control-prev-icon"></span>
                                                </button>
                                                <button class="carousel-control-next" type="button" data-bs-target="#demo" data-bs-slide="next">
                                                    <span class="carousel-control-next-icon"></span>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                    }
                    <div class="article-title">
                        <h6><a asp-controller="Project" asp-action="Category" asp-route-cat="@((int)Model.Project.Category)" asp-route-page="1">@Model.Project.Category</a></h6>
           <h2>@Model.Project.Name</h2>

                        <div class="media">

                            <div class="media-body">
                                @if (Model.Project.ProjectCreator.Id == user.Id)

                               {
                    <div class="table-responsive-sm">
                                        <table class="table table-striped  ">
                                            <thead>
                                                <tr>
                                                    <th> <label> Created By @Model.Project.ProjectCreator.FirstName @Model.Project.ProjectCreator.LastName </label>
                                            <span>On @Model.Project.DateTime.ToString()</span></th>
                                          
                                                    <th><a asp-controller="Project" asp-action="AddPost" asp-route-id="@Model.Project.Id" class="fas fa-plus-square fa-3x"  ></a></th>
                                                    
                                                    <th> <a asp-controller="Project" asp-action="AddFundingPackage" asp-route-id="@Model.Project.Id" class="fas fa-hand-holding-usd fa-3x"></a></th>
                                                    <th><a asp-controller="Project" asp-action="AddPhoto" asp-route-id="@Model.Project.Id" class="far fa-image fa-3x"></a></th>
                                                    <th><a asp-controller="Project" asp-action="AddVideo" asp-route-id="@Model.Project.Id"  class="fab fa-youtube fa-3x"></a></th>
                                                     <th> <a href=''  class="far fa-trash-alt fa-3x" data-bs-toggle="modal" data-bs-target="#myModaldel"> </a></th>
                                                        </tr>
                                            </thead>
                                            </table>
                                           </div>
                                                     <!-- The Modal -->
            <div class="modal fade " id="myModaldel">
              <div class="modal-dialog">
                <div class="modal-content">

                  <!-- Modal Header -->
      <div class="modal-header bg-dark">
                    <h4 style="color=silver;" class="modal-title">Warning!!!</h4>
                    <button type="button" class="btn btn-close btn-close-white" data-bs-dismiss="modal"></button>
                  </div>

                  <!-- Modal body -->
      <div class="modal-body bg-dark">
                   <h4 style="color=silver;">Are you sure you want to delete this Project</h4>
                  </div>

                  <!-- Modal footer -->
      <div class="modal-footer bg-dark">
                      <a asp-controller="Project" asp-action="Delete" asp-route-id="@Model.Project.Id" class="btn btn-primary " method="post" >Delete</a>
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                  </div>

                </div>
              </div>
            </div>




                                }
                           else
                                {

   
                                     <label> Created By @Model.Project.ProjectCreator.FirstName @Model.Project.ProjectCreator.LastName </label>
                                            <span>On @Model.Project.DateTime.ToString()</span>


                                }

                            </div>
                        </div>
                    </div>
                    <div class="article-content">
                        <p>@Model.Project.Description</p>
                    </div>

                    <div class="widget-body">
                        <h3>Funding Packages</h3>
                        <div class="table-responsive-sm">
                            <table class="table table-bordered table-b">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Name</th>
                                        <th>Price</th>
                                        <th>Reward</th>
                                        <th>Buy</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @for (int i = 0; i < @Model.Project.FundingPackages.Count; i++)
                                    {
                                                    <tr>
                                                        <td>@(i+1)</td>
                                                        <td>@Model.Project.FundingPackages[i].Name</td>
                                                        <td>@Model.Project.FundingPackages[i].Price€</td>
                                                        <td>@Model.Project.FundingPackages[i].Description</td>
                                                        <td>
                                                            <form asp-controller="Project" asp-action="BackProject">
                                                                <input type="submit" value="v" />
                                                                <input type="hidden" asp-for="ProjectId" value="@Model.Project.Id" />
                                                                <input type="hidden" asp-for="FundingPackageId" value="@Model.Project.FundingPackages[i].Id" />
                                                            </form>
                                                        </td>
                                                    </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <!-- <section class="gallery min-vh">
                         <div class="container">
                             <div class="row gy-4 row-cols-1 row-cols-sm-2 row-cols-md-3">
                                 <div class="col">
                                     <img src="https://i.postimg.cc/W4yXnk7Y/1.jpg" class="gallery-item"
                                          alt="gallery">
                                 </div>
                                 <div class="col">
                                     <img src="https://i.postimg.cc/W4yXnk7Y/1.jpg" class="gallery-item"
                                          alt="gallery">
                                 </div>
                                 <div class="col">
                                     <img src="https://i.postimg.cc/W4yXnk7Y/1.jpg" class="gallery-item"
                                          alt="gallery">
                                 </div>
                                 <div class="col">
                                     <img src="https://i.postimg.cc/W4yXnk7Y/1.jpg" class="gallery-item"
                                          alt="gallery">
                                 </div>
                                 <div class="col">
                                     <img src="https://i.postimg.cc/W4yXnk7Y/1.jpg" class="gallery-item"
                                          alt="gallery">
                                 </div>
                                 <div class="col">
                                     <img src="https://i.postimg.cc/W4yXnk7Y/1.jpg" class="gallery-item"
                                          alt="gallery">
                                 </div>
                             </div>
                         </div>
                     </section> -->
                    <!-- Modal -->
                    <div class="modal fade" id="gallery-modal" tabindex="-1" aria-labelledby="exampleModalLabel"
                         aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered modal-lg">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <!-- <h5 class="modal-title" id="exampleModalLabel">Modal title</h5> -->
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <img src="img/1.jpg" class="modal-img" alt="modal img">
                                </div>
                            </div>
                        </div>
                    </div>

                </article>
            </div>
            <div class="col-lg-4 m-15px-tb blog-aside">
                <!-- Latest Posts -->
                <div class="widget widget-latest-post">
                    <div class="widget-title">
                        <h3>Latest Post</h3>
                    </div>
                    <div class="widget-body">

                        @for (int i = 0; i < posts; i++)
                        {

                                        <div class="latest-post-aside media">
                                            <div class="lpa-left media-body">
                                                <div class="lpa-title">
                                                    <h5>@Model.Project.Posts[i].Text</h5>
                                                </div>
                                                <span>By @Model.Project.ProjectCreator.FirstName @Model.Project.ProjectCreator.LastName </span>
                                                <span>On @Model.Project.Posts[i].DateTime</span>
                                            </div>
                                        </div>
                        }

                    </div>
                </div>
                <!-- End Latest Post -->
                <!-- widget Tags -->
                <div class="widget widget-tags">
                    <div class="widget-title">
                        <h3>Top Backers</h3>
                    </div>
                    <div class="widget-body">

                        <div class="table-responsive-sm">
                            <table class="table table-bordered table-b">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Firstname</th>
                                        <th>Lastname</th>
                                        <th>Funded</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @for (int i = 0; i < Model.BackerFunds.Count; i++)
                                    {
                                                    <tr>
                                                        <td>@(i+1)</td>
                                                        <td>@Model.BackerFunds[i].Backer.FirstName</td>
                                                        <td>@Model.BackerFunds[i].Backer.LastName</td>
                                                        <td>@Model.BackerFunds[i].TotalFunds€</td>
                                                    </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End widget Tags -->
        </div>
    </div>
</div>