@using CrowdFunding.Models

color  ViewData["Title"] = "My Account";
}

@model User

<div class="container mt-3">
    <div class="main-body">
        <div class="row gutters-sm">
            <div class="col-md-4 mb-3">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex flex-column align-items-center text-center">
                            <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="UserAvatar"
                                 class="rounded-circle" width="150">
                            <div class="mt-3">
                                <h4>@Model.FirstName @Model.LastName</h4>
                                <p class="text-secondary mb-1">KIKCIO MEMBER</p>
                                <p class="text-muted font-size-sm">Since @Model.Datetime</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="card mb-3">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">First Name</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                @Model.FirstName
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Last Name</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                @Model.LastName
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Email</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                @Model.Email
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row gutters-sm">
                    <div class="col-sm-6 mb-3">
                        <div class="card">
                            <div class="card-body">
                                <h6 class="d-flex align-items-center mb-3">
                                    <i class="material-icons text-info mr-2">My Projects </i>&nbsp;&nbsp;Status
                                </h6>
                                @foreach (var project in Model.CreatedProjects)
                                {
                                    var progress = (int)(project.Progress / project.Goal * 100);
                                    <a class="text-white" asp-controller="Project" asp-action="Details" asp-route-id="@project.Id"><small>@project.Name</small></a>
                                    <div class="progress mb-3" style="height: 5px">
                                        <div class="progress-bar bg-primary" role="progressbar" style="width: @progress%"
                                         aria-valuenow="@progress" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 mb-3">
                        <div class="card">
                            <div class="card-body">
                                <h6 class="d-flex align-items-center mb-3">
                                    <i class="material-icons text-info mr-2">Backed Projects</i>&nbsp;&nbsp;Status
                                </h6>
                                @foreach (var project in Model.BackedProjects)
                                {
                                    var progress = (int)(project.Progress / project.Goal * 100);
                                    <a class="text-white" asp-controller="Project" asp-action="Details" asp-route-id="@project.Id"><small>@project.Name</small></a>
                                    <div class="progress mb-3" style="height: 5px">
                                        <div class="progress-bar bg-primary" role="progressbar" style="width: @progress%"
                                         aria-valuenow="@progress" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>



            </div>
        </div>

    </div>
</div>