@using CrowdFunding.Models
@{
    ViewData["Title"] = "Home Page";
}
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager
@model List<Project>


<div class="row">
    @foreach (var project in Model)
    {
        <div class="col-md-4 mt-3">
            <div class="card" style="width: 18rem;">
                <img src="@project.Thumbnail" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">@project.Name  <div class="badge"> <span>New</span> </div></h5>

                    <h6 class="card-subtitle mb-2 text-muted">@project.Category</h6>
                    <p class="card-text">
                       @project.Description
                    </p>
                    <div class="mt-3">
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: @((int)(project.Progress/project.Goal*100))%" aria-valuenow="50" aria-valuemin="0"
                             aria-valuemax="100">
                            </div>
                        </div>
                        <div class="mt-3">
                            <span class="text1">@project.Progress Gathered <span class="text2">of @project.Goal</span></span>
                        </div>
                    </div>
                    <div class="mt-3">
                        <a asp-controller="Project" asp-action="Details" asp-route-id="@project.Id" class="btn btn-proj mr-2"><i class="fas fa-link"></i> See More</a>
                        <a href="#" class="btn btn-proj "><i class="fas fa-dollar-sign"></i> Fund</a>
                    </div>
                </div>
            </div>
        </div>
    }

</div>